{% extends 'AVirtBundle::layout.html.twig' %}

{% block center -%}
    <h1>{{ entity.name }}
        <a class="btn btn-success btn-mini" data-toggle="modal" href="{{ path('video_new', { 'course_id': entity.id } ) }}">
            Agregar un video
        </a>
    </h1>

    <div id="video" class="span8">
    </div>modal

    <div id="video-list" class="span3 orange-box">
    </div>

    <div class="span8 red-box">
        Creado: {{ entity.createdAt|date('Y-m-d H:i:s') }}</br>
        Actualizado: {{ entity.updatedAt|date('Y-m-d H:i:s') }}</br>

        {{ entity.description }}
    </div>


    <div class="span8">

    </div>

    <div id="notVideo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Vaya aun no se a subido ningun video.</h3>
        </div>
        <div class="modal-body">
            <p>Lamentablemente no se a subido ningun video.</p>
        </div>
    </div>

{% endblock %}

{% block morejavascripts %}
    <script type="text/javascript" >
        $.ajax({
            url: "http://127.0.0.1:8000/course/{{ entity.id }}/video/"
        }).done(function( data ) {
            var videos = data;
            done = 0;
            $.each(videos, function(i, item){
                done = 1;
                if(item){
                    $("#video-list").append('<div class="li-video" data-type="' + item.type + '" data-url="'+ item.url + '">' +
                            '<span class="span9 vitem">'+ item.name +'</span>' +
                            '<span class="span2"><a class="btn btn-info btn-mini" data-toggle="modal" href="/course/{{ entity.id }}/video/' + item.id + '/edit">' +
                            'Editar' +
                            '</a></span>' +
                            '</div>');
                    last = item;
                }
                $("#video").html( "[" + last.type + "=" + last.url + "]" );
                parseVideo();
            });
            if(done != 1){
                $('#notVideo').modal();
            }
        });

        $("#video-list").on("click", ".li-video", function(){
            var type = $(this).attr("data-type");
            var url = $(this).attr("data-url");
            $("#video").html( "[" + type + "=" + url + "]" );
            parseVideo();
        });



        function parseVideo()
        {
            $.mb_audioEmbedder.playerPath="media/player.swf"; //the path to audio player
            $.mb_videoEmbedder.defaults.width=688; //the with of players --> the height is automatically calculated
            $('#video').mb_embedMovies();
        }


    </script>
{% endblock morejavascripts %}