{% extends '::base.html.twig' %}

{% block title %}AVirtual{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% stylesheets output='/css/main.css' '@AVirtBundle/Resources/public/css/style.css'%}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {% javascripts '@jquery' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    {% javascripts output='/js/mediaEmbbeder.js'
    '@AVirtBundle/Resources/public/js/mediaEmbbeder.js'
    '@AVirtBundle/Resources/public/js/infinitescrool.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function() {

            $(".container-fluid").on("click", '[data-toggle="modal"]', function(e){
                e.preventDefault();
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $(url).modal('open');
                } else {
                    $.get(url, function(data) {
                        $('<div class="modal hide fade"><div class="modal-body">' +
                                '' + data + '</div></div>'

                        ).modal();
                    }).success(function() { $('input:text:visible:first').focus(); });
                }
            });



        });
    </script>
    {% block morejavascripts %}
    {% endblock morejavascripts %}
{% endblock javascripts %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <a href="{{ path('course') }}"><h1 class="text-center">UCSP - School of Computer Science</h1></a>
                {% block center %}
                {% endblock center %}
            </div>
            <div class="footer span12">
                <div class="container">
                    <div class="span4">
                        <a href="#">
                            <p class="text-warning">Capitulo Estudiantil ACM</p>
                        </a>
                    </div>
                    <div class="span4 offset4">
                        <a href="#myModal" role="button" class="btn btn-inverse" data-toggle="modal">Equipo de desarroladores</a>

                        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Desarroladores</h3>
                            </div>
                            <div class="modal-body">

                                <h3>Jefe de proyecto</h3><br>
                                <p>Juan Alfredo Salas Santillana</p><br>

                                <h3>Colaboradores</h3><br>
                                <p>Alejandro Manuel Delgado Velasquez</p>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}
